In [ ]:
import pandas as pd
import sqlalchemy as sa
import psycopg2 as ps
from sqlalchemy import create_engine

In [ ]:
%load_ext sql
%sql postgresql://postgres:lingga28@localhost:2828/datacamp
conn = create_engine('postgresql://postgres:lingga28@localhost/datacamp')

# 1. Remembering what is LEFT
### Exercises
To become faster at writing queries, it's helpful to memorize their structure. In this exercise, you will reconstruct the order of the steps of LEFT JOIN from memory!

### Instructions
Drag the code blocks provided to re-order them into a syntactically correct SQL query!

### Drag the items into below order:
- FROM countries as c
- ORDER BY country DESC;
- LEFT JOIN languages as l
- USING(code)
- SELECT c.name AS country, local_name, l.name AS language, percent


Answer:
- SELECT c.name AS country, local_name, l.name AS language, percent
- FROM countries as c
- LEFT JOIN languages as l
- USING(code)
- ORDER BY country DESC;

# 2. This is a LEFT JOIN, right?
### Exercises
Nice work getting to grips with the structure of joins! In this exercise, you'll explore the differences between INNER JOIN and LEFT JOIN. This will help you decide which type of join to use.

As before, you will be using the cities and countries tables.

You'll begin with an INNER JOIN with the cities table (left) and countries table (right). This helps if you are interested only in records where a country is present in both tables.

You'll then change to a LEFT JOIN. This helps if you're interested in returning all countries in the cities table, whether or not they have a match in the countries table.

### task 1
### Instruction
- Perform an inner join with cities AS c1 on the left and countries as c2 on the right.
- Use code as the field to merge your tables on.

In [3]:
%%sql

SELECT 
    c1.name AS city,
    code,
    c2.name AS country,
    region,
    city_proper_pop
FROM cities AS c1
-- Perform an inner join with cities as c1 and countries as c2 on country code
INNER JOIN countries as c2
ON c1.country_code = c2.code
ORDER BY code DESC
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Harare', 'ZWE', 'Zimbabwe', 'Eastern Africa', 1606000),
 ('Lusaka', 'ZMB', 'Zambia', 'Eastern Africa', 1742979),
 ('Cape Town', 'ZAF', 'South Africa', 'Southern Africa', 3740026)]

### task 2
### Instruction
- Change the code to perform a LEFT JOIN instead of an INNER JOIN.
- After executing this query, have a look at how many records the query result contains

In [5]:
%%sql

SELECT 
	c1.name AS city, 
    code, 
    c2.name AS country,
    region, 
    city_proper_pop
FROM cities AS c1
-- Join right table (with alias)
LEFT JOIN countries as c2
ON c1.country_code = c2.code
ORDER BY code DESC
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Kaohsiung', None, None, None, 2778918),
 ('Bucharest', None, None, None, 1883425),
 ('New Taipei City', None, None, None, 3954929)]

# 3. Building on your LEFT JOIN
### Exercises
You'll now revisit the use of the AVG() function introduced in a previous course.

Being able to build more than one SQL function into your query will enable you to write compact, supercharged queries.

You will use AVG() in combination with a LEFT JOIN to determine the average gross domestic product (GDP) per capita by region in 2010.

### task 1
### Instruction
- Complete the LEFT JOIN with the countries table on the left and the economies table on the right on the code field.
- Filter the records from the year 2010.

In [6]:
%%sql

SELECT name, region, gdp_percapita
FROM countries AS c
LEFT JOIN economies AS e
-- Match on code fields
USING(code)
-- Filter for the year 2010
WHERE year = 2010
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Afghanistan', 'Southern and Central Asia', 539.667),
 ('Angola', 'Central Africa', 3599.27),
 ('Albania', 'Southern Europe', 4098.13)]

### task 2
### Instruction
- To calculate per capita GDP per region, begin by grouping by region.
- After your GROUP BY, choose region in your SELECT statement, followed by average GDP per capita using the AVG() function, with AS avg_gdp as your alias.

In [7]:
%%sql

-- Select region, and average gdp_percapita as avg_gdp
SELECT region, AVG(gdp_percapita) as avg_gdp
FROM countries AS c
LEFT JOIN economies AS e
USING(code)
WHERE year = 2010
-- Group by region
GROUP BY region
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Southern Africa', 5051.597973632813),
 ('Caribbean', 11413.339454064002),
 ('Eastern Africa', 1757.3481616973877)]

### task 3
### Instruction
- Order the result set by the average GDP per capita from highest to lowest.
- Return only the first 10 records in your result.

In [8]:
%%sql

SELECT region, AVG(gdp_percapita) AS avg_gdp
FROM countries AS c
LEFT JOIN economies AS e
USING(code)
WHERE year = 2010
GROUP BY region
-- Order by descending avg_gdp
ORDER BY avg_gdp DESC
-- Return only first 10 records
LIMIT 10;

 * postgresql://postgres:***@localhost:2828/datacamp
10 rows affected.

[('Western Europe', 58130.96149553572),
 ('Nordic Countries', 57073.99765625),
 ('North America', 47911.509765625),
 ('Australia and New Zealand', 44792.384765625),
 ('British Islands', 43588.330078125),
 ('Eastern Asia', 24962.8076171875),
 ('Southern Europe', 22926.410910866478),
 ('Middle East', 18204.641515395222),
 ('Baltic Countries', 12631.029947916666),
 ('Caribbean', 11413.339454064002)]

# 4. Is this RIGHT?
### Exercises
You learned that right joins are not used as commonly as left joins. A key reason for this is that right joins can always be re-written as left joins, and because joins are typically typed from left to right, joining from the left feels more intuitive when constructing queries.

It can be tricky to wrap one's head around when left and right joins return equivalent results. You'll explore this in this exercise!

### Instructions
Write a new query using RIGHT JOIN that produces an identical result to the LEFT JOIN provided.

In [9]:
%%sql

-- Modify this query to use RIGHT JOIN instead of LEFT JOIN
SELECT countries.name AS country, languages.name AS language, percent
FROM languages
RIGHT JOIN countries
USING(code)
ORDER BY language
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Djibouti', 'Afar', None),
 ('Eritrea', 'Afar', None),
 ('Ethiopia', 'Afar', 1.7)]

# 5. Comparing joins
### Exercises
In this exercise, you'll examine how results can differ when performing a full join compared to a left join and inner join by joining the countries and currencies tables. You'll be focusing on the North American region and records where the name of the country is missing.

You'll begin with a full join with countries on the left and currencies on the right. Recall the workings of a full join with the diagram below!

![](full_join2.png)
You'll then complete a similar left join and conclude with an inner join, observing the results you see along the way.

### task 1
### Instruction
- Perform a full join with countries (left) and currencies (right).
- Filter for the North America region or NULL country names.

In [10]:
%%sql

SELECT name AS country, code, region, basic_unit
FROM countries
-- Join to currencies
FULL JOIN currencies
USING (code)
-- Where region is North America or null
WHERE region = 'North America'
	OR name IS NULL
ORDER BY region
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Bermuda', 'BMU', 'North America', 'Bermudian dollar'),
 ('Canada', 'CAN', 'North America', 'Canadian dollar'),
 ('United States', 'USA', 'North America', 'United States dollar')]

### task 2
### Instruction
- Repeat the same query as before, turning your full join into a left join with the currencies table.
- Have a look at what has changed in the output by comparing it to the full join result.

In [11]:
%%sql

SELECT name AS country, code, region, basic_unit
FROM countries
-- Join to currencies
LEFT JOIN currencies 
USING (code)
WHERE region = 'North America' 
	OR name IS NULL
ORDER BY region;

 * postgresql://postgres:***@localhost:2828/datacamp
4 rows affected.

[('Bermuda', 'BMU', 'North America', 'Bermudian dollar'),
 ('Canada', 'CAN', 'North America', 'Canadian dollar'),
 ('United States', 'USA', 'North America', 'United States dollar'),
 ('Greenland', 'GRL', 'North America', None)]

### task 3
### Instruction
- Repeat the same query again, this time performing an inner join of countries with currencies.
- Have a look at what has changed in the output by comparing it to the full join and left join results!

In [12]:
%%sql

SELECT name AS country, code, region, basic_unit
FROM countries
-- Join to currencies
INNER JOIN currencies 
USING (code)
WHERE region = 'North America' 
	OR name IS NULL
ORDER BY region;

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Bermuda', 'BMU', 'North America', 'Bermudian dollar'),
 ('Canada', 'CAN', 'North America', 'Canadian dollar'),
 ('United States', 'USA', 'North America', 'United States dollar')]

# 6. Chaining FULL JOINs
### Exercises
As you have seen in the previous chapter on INNER JOIN, it is possible to chain joins in SQL, such as when looking to connect data from more than two tables.

Suppose you are doing some research on Melanesia and Micronesia, and are interested in pulling information about languages and currencies into the data we see for these regions in the countries table. Since languages and currencies exist in separate tables, this will require two consecutive full joins involving the countries, languages and currencies tables.

### Instructions
- Complete the FULL JOIN with countries as c1 on the left and languages as l on the right, using code to perform this join.
- Next, chain this join with another FULL JOIN, placing currencies on the right, joining on code again.

In [15]:
%%sql

SELECT 
	c1.name AS country, 
    region, 
    l.name AS language,
	basic_unit, 
    frac_unit
FROM countries as c1 
-- Full join with languages (alias as l)
FULL JOIN languages AS l
ON c1.code = l.code 
-- Full join with currencies (alias as c2)
FULL JOIN currencies AS c2
ON c1.code = c2.code
WHERE region LIKE 'M%esia'
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('Fiji Islands', 'Melanesia', None, None, None),
 ('Guam', 'Micronesia', 'English', None, None),
 ('Guam', 'Micronesia', 'Filipino', None, None)]

# 7. Histories and languages
### Exercises
Well done getting to know all about CROSS JOIN! As you have learned, CROSS JOIN can be incredibly helpful when asking questions that involve looking at all possible combinations or pairings between two sets of data.

Imagine you are a researcher interested in the languages spoken in two countries: Pakistan and India. You are interested in asking:
 1. What are the languages presently spoken in the two countries?
 2. Given the shared history between the two countries, what languages could potentially have been spoken in either country over the course of their history?

In this exercise, we will explore how INNER JOIN and CROSS JOIN can help us answer these two questions, respectively.

### task 1
### Instruction
Complete the code to perform an INNER JOIN of countries AS c with languages AS l using the code field to obtain the languages currently spoken in the two countries.

In [16]:
%%sql

SELECT c.name AS country, l.name AS language
-- Inner join countries as c with languages as l on code
FROM countries AS c
INNER JOIN languages AS l
ON c.code = l.code
WHERE c.code IN ('PAK','IND')
	AND l.code in ('PAK','IND')
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('India', 'Hindi'), ('India', 'Bengali'), ('India', 'Telugu')]

### task 2
### Instruction
- Change your INNER JOIN to a different kind of join to look at possible combinations of languages that could have been spoken in the two countries given their history.
- Observe the differences in output for both joins.

In [17]:
%%sql

SELECT c.name AS country, l.name AS language
FROM countries AS c        
-- Perform a cross join to languages (alias as l)
CROSS JOIN languages AS l
WHERE c.code in ('PAK','IND')
	AND l.code in ('PAK','IND')
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('India', 'Hindi'), ('Pakistan', 'Hindi'), ('India', 'Bengali')]

# 8. Choosing your join
### Exercises
Now that you're fully equipped to use joins, try a challenge problem to test your knowledge!

You will determine the names of the five countries and their respective regions with the lowest life expectancy for the year 2010. Use your knowledge about joins, filtering, sorting and limiting to create this list!

### Instructions
- Complete the join of countries AS c with populations as p.
- Filter on the year 2010.
- Sort your results by life expectancy in ascending order.
- Limit the result to five countries.

In [18]:
%%sql

SELECT 
	c.name AS country,
    region,
    life_expectancy AS life_exp
FROM countries AS c
-- Join to populations (alias as p) using an appropriate join
LEFT JOIN populations AS p
ON c.code = p.country_code
-- Filter for only results in the year 2010
WHERE year = 2010
-- Order by life_exp
ORDER BY life_exp
-- Limit to five records
LIMIT 5;

 * postgresql://postgres:***@localhost:2828/datacamp
5 rows affected.

[('Lesotho', 'Southern Africa', 47.483414),
 ('Central African Republic', 'Central Africa', 47.625317),
 ('Sierra Leone', 'Western Africa', 48.22895),
 ('Swaziland', 'Southern Africa', 48.345757),
 ('Zimbabwe', 'Eastern Africa', 49.574657)]

# 9. Comparing a country to itself
### Exercises
Self joins are very useful for comparing data from one part of a table with another part of the same table. Suppose you are interested in finding out how much the populations for each country changed from 2010 to 2015. You can visualize this change by performing a self join.

In this exercise, you'll work to answer this question by joining the populations table with itself. Recall that, with self joins, tables must be aliased. Use this as an opportunity to practice your aliasing!

Since you'll be joining the populations table to itself, you can alias populations first as p1 and again as p2. This is good practice whenever you are aliasing tables with the same first letter.

### task 1
### Instruction
- Perform an inner join of populations with itself ON country_code, aliased p1 and p2 respectively.
- Select the country_code from p1 and the size field from both p1 and p2, aliasing p1.size as size2010 and p2.size as size2015 (in that order).

In [19]:
%%sql

-- Select aliased fields from populations as p1
SELECT p1.country_code, p1.size AS size2010, p2.size AS size2015
FROM populations as p1
-- Join populations as p1 to itself, alias as p2, on country code
INNER JOIN populations as p2
ON p1.country_code = p2.country_code
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('ABW', 101597.0, 101597.0),
 ('ABW', 101597.0, 103889.0),
 ('ABW', 103889.0, 101597.0)]

### task 2
### Instruction
Since you want to compare records from 2010 and 2015, eliminate unwanted records by extending the WHERE statement to include only records where the p1.year matches p2.year - 5.

In [20]:
%%sql

SELECT 
	p1.country_code, 
    p1.size AS size2010, 
    p2.size AS size2015
FROM populations AS p1
INNER JOIN populations AS p2
ON p1.country_code = p2.country_code
WHERE p1.year = 2010
-- Filter such that p1.year is always five years before p2.year
    AND p2.year = 2015
LIMIT 3; --just an addition, so that the table is not elongated

 * postgresql://postgres:***@localhost:2828/datacamp
3 rows affected.

[('ABW', 101597.0, 103889.0),
 ('AFG', 27962208.0, 32526562.0),
 ('AGO', 21219954.0, 25021974.0)]

# 10. All joins on deck
### Exercises
Excellent work! You've made it to the end of the chapter. In this exercise, you will test your knowledge on all the joins you've learned so far.

For each of the problems presented, think carefully about what types of tables are involved and how each of the joins you have learned relates to NULL values.

### Instructions
Drag and drop the situations presented into the appropriate type of join.

### Drag the items into correct bucket
- You sell houses and have two tables, `listing_prices` and `prices_sold`. You want a table with sale prices and listing prices, only if you know both
- You want a report of whether your patients have reached out to you, or you have reached out to them. You are fine with nulls for either condition.
- You run a pizza delivery service with loyal clients. You want a table of clients and their weekly orders, with nulls if there are no orders.

Answer:
Inner Join:
- You sell houses and have two tables, `listing_prices` and `prices_sold`. You want a table with sale prices and listing prices, only if you know both
- You run a pizza delivery service with loyal clients. You want a table of clients and their weekly orders, with nulls if there are no orders.
- You want a report of whether your patients have reached out to you, or you have reached out to them. You are fine with nulls for either condition.